<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qian.cs446project"> <!-- Min SDK Section -->
    <uses-sdk android:minSdkVersion="14" />

    <!-- Permissions Section -->
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HostMusicPlayerActivity" />
        <activity android:name=".ParticipantMusicPlayerActivity" />
        <activity android:name=".ChooseSessionActivity" />
        <activity android:name=".CreateSessionActivity" />
        <activity android:name=".ManagePlaylistActivity" />
        <activity android:name=".CreatePlaylistActivity" />

        <service
            android:name=".HostMusicPlayer"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ParticipantMusicPlayer"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SynchronicityMusicPlayerActivity" />

        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>